/*
	Base Elements
*/

html, body {
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	background: #222;
	color: #ccc;
	text-align: justify;
}

b, strong {
	color: white;
}

pre {
	padding: 10px;
	max-height: 100px;
	overflow-y: auto;
}

a {
	color: #0be;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #0ef;
}

.box {
	display: block;
	margin: 20px 30px;
	padding: 10px;
	border-radius: 3px;
}

.warning {
	background: #420;
}

.note {
	background: #333;
}

/*
	Header
*/

nav, nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav {
	background: #222;
	display: block;
	text-align: center;
}

nav li {
	display: inline-block;
}

nav li a {
	display: block;
	padding: 8px 12px;
	color: #999;
	font-weight: normal;
	text-decoration: none;
	border-left: 1px solid #444;
}

nav li:nth-child(1) a {
	border-left: 0;
}

nav li a:hover {
	background: #111;
}

nav .hr {
	border-left: 4px solid #666;
}

header {
	text-align: center;
	background: #333;
	padding: 18px;
}

header h1 {
	margin: 0;
}

header span {
	display: block;
	margin: 10px 0 0 0;
	font-size: 80%;
}

footer {
	display: block;
	padding: 10px;
	font-size: 80%;
	text-align: center;
	color: #666;
}

/*
	Main
*/

main {
	width: 80%;
	max-width: 900px;
	margin: auto;
	padding: 10px;
}

main > p {
	padding-left: 30px;
}

main > h3 {
	padding-left: 20px;
}

main > ul {
	padding-left: 50px;
}

main h2 {
	padding-bottom: 6px;
	border-bottom: 3px solid #444;
}
